<!DOCTYPE html>

<html>

<head>
     <title>404</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{!-- <div class="boxcon">
        {{>header}}
        <p>{{errorMessage}}</p>
        {{>footer}}
    </div> --}}

    <div class="main-content">
        <div class="boxcon">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>
    </div>
    
    {{>footer}}
</body>

</html>