<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>

     <div class="main-content">
        {{>header}}
        <p>This is site created by andrew Mead. It uses data from mapbox.com and weatherstack.com!</p>
        <img class="portrait" src="img/GrandPa.jpg" alt="">
        <img class="portrait" src="img/yade.png" alt="">
    </div>
    
    {{>footer}}
</body>
</html>

<!-- Goal: Create two more HTML files 
    1. Create a html page for about with "About" title
    2. Create a html page for help with "Help" title
    3. Romove the old route handlers for both
    4. Visit both in the brower to test your work.
-->